.post-data-action-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4em;
    padding: 5px 0 0;
    width: 100%;
}



.post-data-follow-container{
    display: inline-flex;
    padding: 0 10px;
    border: 2px solid;
    border-radius: 5px;
    margin-left: 5px;
}

.post-data-content-container{
    padding: 5px 0;
}