.handle-img-np{
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
}

.handle-img-ph{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 1em;
    aspect-ratio: 1;
    font-size: 1em;
    font-weight: 600;
}

.post--data-container{
    display: flex;
    padding: 10px;
    background-color: white;
    margin: 7px;
}

.post-data-show-container{
    display: flex;
    padding: 0 1em;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.post-data-action-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0 0;
    width: 100%;
}

.post-data-content-header{
    justify-content: space-between;
    align-items: self-end;
    gap: 1em;
    width: 100%;
}

.post-data-follow-container{
    display: inline-flex;
    padding: 0 10px;
    border: 2px solid;
    border-radius: 5px;
    margin-left: 5px;
}

.post-data-content-container{
    padding: 5px 0;
}