

.AsideNav li {
	list-style: none;
	font-weight: 700;
	font-size: 1em;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	gap: 1em;
	padding: 0.5em;
	align-items: center;
	cursor: pointer;
}

.AsideNav li:hover {
	border-bottom: 2px solid var(--primary-color);
}

.AsideNav {
	height: 100vh;
	padding-bottom: 3em;
	/* width: 27vw; */
}

.aside-nav-logout {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	font-size: 1.1em;
	border-top: 2PX SOLID #9675b4;;
}

.logout-btn {
	cursor: pointer;
	font-size: 1.3em;
}

.logout-btn:hover {
	transform: scale(1.1);
}
.title-hide-responsive{
	display: flex;
}

@media screen and (max-width:720px) {
	.title-hide-responsive{
		display: none;
	}
	.AsideNav{
		position: fixed;
		flex-direction: row;
		width: 100vw;
		height: 3em;
		background-color: red;
		z-index: 999;
    	/* background-color: rgba(255,255,255,0.7); */
		background-color: white;
		justify-content: space-around;
		align-items: baseline;
		padding: 0 1em 0 0;;
		bottom: 0;
    	top: inherit;
	}
	.AsideNav li{
		display: inline-block;
	}
	.aside-nav-logout{
		align-items: baseline;
	}
}