.profile-page-header-container{
    flex-direction: column;
    align-items: center;
}

.main-profile-page{
    padding: 2em 1em 1em;
    justify-content: center;
    flex-direction: column;
}

.profile-page-header-container .profile-img{
    width: 5em;
    height: 5em;
    padding: 0;
}

.profile-digit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 700;
}

.profile-page-name{
    padding: 1.5em 10px 10px;
}

.profile-page-stats-container{
    justify-content: center;
    background-color: white;
    padding: 1em 2em;
    gap: 2em;
    width: fit-content;
    margin: auto;
    font-weight: 600;
}