.profile-page-header-container {
	flex-direction: column;
	align-items: flex-start;
	background-color: white;
	padding-bottom: 1em;
}

.main-profile-page {
	/* padding:1em; */
	justify-content: center;
	flex-direction: column;
}

.profile-page-header-container .profile-img {
	width: 5em;
	height: 5em;
	padding: 0;
}

.profile-digit {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	font-weight: 700;
	border: 3px solid;
}

/* .profile-page-name{
    padding: 1.5em 10px 0;
} */

.profile-page-stats-container {
	justify-content: center;
	background-color: white;
	padding: 1em 2em;
	gap: 2em;
	width: fit-content;
	margin: auto;
	font-weight: 600;
}

.profile-your-post-container {
	padding-top: 2em;
}

.post-page-edit-modal {
	background-color: white;
	top: 45%;
	/* left: 25%; */
	z-index: 99;
	min-width: 50%;
}

.post-page-edit-input {
	resize: none;
	outline: none;
	border: none;
	width: 100%;
}

.post-page-edit-modal-container {
	border: 2px solid #97bdde;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 1em 10px 10px;
}

.edit-post-header {
	background-color: #999fd6 !important;
	color: white;
}

.profile-page-header-photo {
	background: rgb(255, 255, 255);
	/* background: linear-gradient(354deg, rgba(255,255,255,1) 50%, rgba(133,153,222,1) 51%, rgba(255,182,182,1) 100%); */
	background: linear-gradient(
		354deg,
		rgba(255, 255, 255, 0.01) 39%,
		rgba(133, 153, 222, 1) 46%,
		rgba(255, 182, 182, 1) 100%
	);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.profile-page-header-user-detail {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1em;
}

.profile-page-header-user-bio{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
	padding: 1em;
	width: 100%;
}

.profile-btn{
    border-radius: 3em;
}

.user-img{
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn{
	height: fit-content;
    background-color: #8d9bdb;
    color: white;
	padding: 5px;
}
@media screen and (max-width: 720px) {
	.post-page-edit-modal {
		min-width: 80%;
	}
}
