* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: calc(10px + 1vmin);
	text-decoration: none;
}

:root {
	--primary-color: #9675b4;
	--primary-shade-color: #ddd2f0;
	--primary-dark-shade-color: #220a38;
	--secondary-color: #dedede;
	--note-date-color: #751414;
	--hover-color: #539987;
	--icon-color :black;
	--black-hl-p5: rgba(0, 0, 0, 0.05);
	--white-hl-p3: rgba(255, 255, 255, 0.3);
}
.App {
	text-align: center;
	min-height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #22201c;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.App-link {
	color: #61dafb;
}

.brand-title {
	font-size: 3rem;
	color: #d9d9d9;
}

.brand-title span {
	color: #ffde59;
}

.brand-description {
	font-size: 1.4rem;
}

.links a {
	color: #d9d9d9;
	font-size: 1.2rem;
	margin: 1rem;
}

.sm-txt {
	font-size: 0.4em;
}

.md-txt {
	font-size: 0.6em;
}

.lg-txt {
	font-size: 0.8em;
}

.xlg-txt {
	font-size: 1em;
}

.xxlg-txt {
	font-size: 1.3em;
}
.big-txt{
	font-size: 3em;
}

input {
	font-size: 1em;
	border-radius: 5px;
	border: none;
	padding: 7px;
	font-weight: 600;
}

.select-tag {
	font-size: 0.7em;
	font-size: 0.7em;
	border-radius: 5px;
	border: none;
	padding: 7px;
	font-weight: 600;
}

span {
	font-size: 1em;
}

.hover {
	color: var(--primary-dark-shade-color);
}
.hover:hover {
	color: var(--hover-color);
	cursor: pointer;
}

.stretch {
	width: 100%;
}

.title-name {
	color: red;
}

.page-title {
	font-size: 1.5em;
	color: var(--primary-color);
	font-weight: 800;
}

.nocontent {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 1em;
	width: 100%;
}

.gray-txt {
	color: gray;
}

.red-txt {
	color: red;
}

.fn-wg-800 {
	font-weight: 800;
}

.fn-wg-700 {
	font-weight: 700;
}

.fn-wg-600 {
	font-weight: 600;
}

.pd-5 {
	padding: 5px;
}
.pd-10 {
	padding: 10px;
}

.bg-gray {
	background-color: var(--black-hl-p5) !important;
}

.bg-st-gray {
	background-color: grey !important;
}

.cursive{
	font-family: cursive;
}
.underline{
	text-decoration: underline;
}
.handle-img-np {
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;
	background-color: var(--primary-color);
	color: white;
}

.align-center {
	align-items: center;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
}

.flex-cln{
	display: flex;
	flex-direction: column;
}

.space-btwn {
	justify-content: space-between;
}

.flex {
	display: flex;
	gap: 5px;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.full-input {
	width: 100%;
	background-color: var(--secondary-color);
}

.full-width {
	width: 100%;
}
.handle-img-ph {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.8em 1em;
	aspect-ratio: 1;
	font-size: 1em;
	font-weight: 600;
}

.post-data-container {
	display: flex;
	padding: 10px;
	background-color: white;
	margin: 7px;
}

.post-data-show-container {
	display: flex;
    padding: 0 1em;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: baseline;
    width: 100%;
    min-height: 5em;
	gap: 1em;
}

.post-data-content-header {
	justify-content: space-between;
	align-items: self-end;
	gap: 1em;
	width: 100%;
}

.hover-btn{
    transition:background-color 2s ease;
}

.hover-btn:hover{
    transform: scale(1.03);
    /* display: none; */
    background-color: var(--primary-color) !important;
}

.btn {
	border: none;
	outline: none;
	font-weight: 600;
	padding: 5px 10px;
	width: 100%;
	cursor: pointer;
	background-color: rgb(255, 0, 0);
	color: white;
}

.btn:hover {
	transform: scale(1.05);
}


.btn-login-signup{
	/* border-radius: 1em; */
	width: 40%;
    padding: 10px 1.2em !important;
	background-color: var(--primary-color) !important;
}

.btn-login-signup:hover{
	transform: scale(1.02);
	transition: height 1s;
}
.copied-clipboard {
	position: absolute;
	bottom: 1em;
	right: 2em;
	font-size: 10px;
	background-color: rgb(165, 165, 226);
	border: 1px solid rgb(196, 196, 255);
	padding: 8px;
	border-radius: 5px;
	z-index: 2;
}


.no-one-container{
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background-color: rgba(0,0,0,0.05);
}
/* responsive layout */



/* MAin */
.main-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.main-body {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.outlet-body {
	/* width: 100%; */
	width: 45vw;
	background-color: var(--black-hl-p5);
}


.BesideNavbar {
	width: 30vw;
	display: flex;
	background-color: var(--black-hl-p5);
	padding: 3px 10px;
	position: sticky;
	top: 0;
	height: 100vh;
}

.AsideNav {
	display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    /* align-items: center; */
    position: sticky;
    min-width: 10em;
    width: 25vw;
    height: 80vh;
    top: 0;
    font-size: 1.2em;
    font-weight: 600;
    background-color: var(--black-hl-p5);
    padding-top: 1em;
    padding: 1em 3em 1em 5em;
}

@media screen and (max-width:1060px) {
	.outlet-body {
		width: 60vw;
	}
	.AsideNav {
		width: 40vw;
	}
}

@media screen and (max-width:720px) {
	.outlet-body {
		width: 100vw;
	}
}